/** @format */

// ! Import Global Rules
@use "./layout/global-rules";

// ! Import Pages
@use "./pages/options";

// ! Import Variables
@use "./variables/colors" as *;
@use "./variables/times" as *;

// ! Import Mixins
@use "./helpers/mixin" as *;

// ! Import Functions
@use "./helpers/animation" as *;

/* ! Start Landing */
.landing {
  position: relative;
  min-height: 100vh;
  background-image: url("../images/02.jpg");
  background-size: cover;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }

  .header {
    position: relative;
    z-index: 2;
    color: #fff;
    display: flex;
    padding: 10px;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      .logo {
        width: 300px;
        padding: 15px;
        font-size: 20px;
        display: flex;
        align-items: center;
        letter-spacing: -1px;
        font-family: "Matemasie", sans-serif;
      }

      .links-container {
        text-align: right;
        position: relative;

        .links {
          display: flex;
          padding: 0 20px 0 0;

          @media (max-width: 991px) {
            display: none;

            &.open {
              background-color: #fff;
              display: block;
              position: absolute;
              left: -450%;
              top: 40px;
              width: fit-content;
              border-radius: 4px;
              text-align: center;
              transform: translateX(-50%);
              -webkit-transform: translateX(-50%);
              -moz-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
              -o-transform: translateX(-50%);

              li {
                display: block;
                margin: 10px;
                width: 100%;
                padding: 10px 60px;

                &:not(:last-of-type) {
                  border-bottom: 1px solid #eee;
                }

                a {
                  color: var(--main-color);
                  font-weight: bold;
                }
              }
            }
          }

          li {
            display: inline-block;
            margin-left: 20px;

            a {
              color: #fff;
              text-decoration: none;
              transition: 0.3s;
              font-weight: 500;

              &:hover,
              &.active {
                color: var(--main-color);
              }
            }
          }
        }

        .toggle-menu {
          &::before {
            @include shape("triangle", "top", white, 50%);
            top: 17px;
            z-index: 5;

            @media (min-width: 992px) {
              display: none;
            }
          }

          &.hide-before::before {
            display: none;
          }
        }
        .fa-sliders {
          color: var(--main-color);
          cursor: pointer;
          display: none;
          font-size: 21px;

          @media (max-width: 991px) {
            display: block;
          }
        }
      }
    }
  }

  .letters {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #fff;
    text-align: center;
    width: 90%;

    h1 {
      font-size: 34px;
      margin: 0 0 20px;

      @media (max-width: 575px) {
        font-size: 26px;
        margin-bottom: 10px;
      }
      span {
        color: var(--main-color);
      }
    }
    p {
      line-height: 1.6;
      font-size: 20px;
      margin: 0;

      @media (max-width: 575px) {
        font-size: 16px;
      }
    }
  }
  .mouse-show {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    color: white;
    text-align: center;
    z-index: 3;

    span {
      font-size: 15px;
      font-weight: 500;

      @media (max-width: 767px) {
        font-size: 13px;
      }
    }

    .mouse {
      width: 40px;
      height: 40px;
      margin-bottom: -10px;
      position: relative;
      animation: moving-mouse calc(var(--trasnition-duration) * 2) linear
        infinite;
      -webkit-animation: moving-mouse calc(var(--trasnition-duration) * 2)
        linear infinite;
      color: var(--main-color);
      opacity: 0.5;

      @media (max-width: 991px) {
        display: none;
      }
    }

    .phone {
      width: 40px;
      height: 40px;
      margin-bottom: -10px;
      position: relative;
      animation: moving-mouse calc(var(--trasnition-duration) * 2) linear
        infinite;
      -webkit-animation: moving-mouse calc(var(--trasnition-duration) * 2)
        linear infinite;
      color: var(--main-color);
      opacity: 0.5;

      @media (min-width: 992px) {
        display: none;
      }

      @media (max-width: 991px) {
        width: 30px;
        height: 30px;
      }
    }
  }
}
/* ! End Landing */
/* ! Start About Us */
.about-us {
  background-color: white;
  padding: 50px 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .info-box {
      flex: 1;

      h2 {
        @extend .h2;
        text-align: left;
        margin-bottom: 20px;

        @media (max-width: 767px) {
          text-align: center;
        }
      }

      p {
        margin: 0;
        line-height: 1.8;
        color: $font-color;
        width: 550px;
        max-width: 100%;

        @media (max-width: 767px) {
          text-align: center;
          width: 350px;
        }
      }
    }

    .images-box {
      flex: 1;
      text-align: center;

      @media (max-width: 767px) {
        margin-top: 40px;
      }

      img {
        width: 250px;
        position: relative;
        animation: up-and-down calc(var(--trasnition-duration) * 8) linear
          infinite;
        -webkit-animation: up-and-down calc(var(--trasnition-duration) * 8)
          linear infinite;
      }
    }
  }
}
/* ! End About Us */
/* ! Start Our Skills */
.skills {
  background-color: #eee;
  display: flex;
  padding: 50px 0;

  @media (max-width: 767px) {
    display: block;
  }

  h2 {
    @extend .h2;
    text-align: center;
    margin-bottom: 50px;
  }

  .skill-box {
    background-color: #fff;
    display: flex;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    transition: var(--trasnition-duration);
    -webkit-transition: var(--trasnition-duration);
    -moz-transition: var(--trasnition-duration);
    -ms-transition: var(--trasnition-duration);
    -o-transition: var(--trasnition-duration);

    @media (max-width: 767px) {
      display: block;
    }

    &:hover {
      box-shadow: 0 5px 10px rgba(172, 172, 172, 0.4);
      transform: translateY(-5px);
      -webkit-transform: translateY(-5px);
      -moz-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      -o-transform: translateY(-5px);
    }
    .skill-name {
      font-weight: bold;
      width: 140px;
      text-align: center;
      line-height: 30px;

      @media (max-width: 767px) {
        width: 100%;
        margin-bottom: 15px;
      }

      &.one {
        color: #e34f26;
      }

      &.two {
        color: #002561;
      }

      &.three {
        color: #f7df1e;
      }

      &.four {
        color: #2b80ff;
      }

      &.five {
        color: #eb459e;
      }

      &.six {
        color: #3178c6;
      }
    }

    .skill-progress {
      height: 30px;
      width: 100%;
      background-color: #f6f6f6;
      position: relative;
      overflow: hidden;
      border-radius: 6px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;

      span {
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 100%;
        background-color: var(--main-color);
        transition: all calc(var(--trasnition-duration) * 9);
        -webkit-transition: all calc(var(--trasnition-duration) * 9);
        -moz-transition: all calc(var(--trasnition-duration) * 9);
        -ms-transition: all calc(var(--trasnition-duration) * 9);
        -o-transition: all calc(var(--trasnition-duration) * 9);
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
      }
    }
  }
}
/* ! End Our Skills */
/* ! Start Gallery */
.gallery {
  padding: 50px 0;

  h2 {
    @extend .h2;
    text-align: center;
    margin-bottom: 50px;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;

    @media (max-width: 767px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px 20px;
    }

    img {
      width: 100%;
      padding: 3px;
      background-color: #f6f6f6;
      margin: 5px;
      border: 1px solid #ccc;
      cursor: crosshair;
    }
  }
}
/* ! End Gallery */
/* ! Start Timeline  */
.timeline {
  background-color: var(--background-dark);
  padding: 60px 0;

  .contents {
    position: relative;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      width: 2px;
      height: 100%;
      background-color: var(--main-color);
      left: 50%;
      margin-left: -1px;
      top: 0;
    }

    .year {
      margin: 20px auto;
      width: 50px;
      background-color: var(--main-color);
      position: relative;
      z-index: 2;
      text-align: center;
      color: #fff;
      padding: 2px 6px;
      font-weight: bold;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
    }

    .clearfix {
      clear: both;
    }

    .content {
      padding: 20px;
      background-color: #fff;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;

      h3 {
        font-weight: bold;
        color: var(--main-color);
        margin: 0 0 10px;
      }

      p {
        color: #666;
        margin: 0;
        line-height: 1.6;
      }
    }

    .left {
      width: calc(50% - 25px);
      margin-bottom: 40px;
      position: relative;
      float: left;

      @media (max-width: 767px) {
        width: 100%;
        margin-top: 30px;
      }

      &::before {
        content: "";
        width: 14px;
        height: 14px;
        background-color: #fff;
        border: 3px solid var(--main-color);
        position: absolute;
        border-radius: 50%;
        top: 20px;
        right: -35px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;

        @media (max-width: 767px) {
          top: -32px;
          right: 44.8%;
          transform: translateX(-50%);
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -o-transform: translateX(-50%);
        }
      }

      .content::before {
        width: 0px;
        @include shape("traingle", "right", white, 17%);

        @media (max-width: 767px) {
          @include shape("traingle", "top", white, 50%);
        }
      }
    }

    .right {
      width: calc(50% - 25px);
      margin-bottom: 40px;
      position: relative;
      float: right;

      @media (max-width: 767px) {
        width: 100%;
        margin-top: 30px;
      }

      &::before {
        content: "";
        width: 14px;
        height: 14px;
        background-color: #fff;
        border: 3px solid var(--main-color);
        position: absolute;
        border-radius: 50%;
        top: 20px;
        left: -35px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;

        @media (max-width: 767px) {
          top: -32px;
          left: 50%;
          transform: translateX(-50%);
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -o-transform: translateX(-50%);
        }
      }

      .content::before {
        @include shape("traingle", "left", white, 17%);

        @media (max-width: 767px) {
          @include shape("traingle", "top", white, 50%);
        }
      }
    }
  }
}
/* ! End Timeline  */
/* ! Start Our Features */
.features {
  padding: 60px 0 100px;

  h2 {
    @extend .h2;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 70px;

    .box {
      text-align: center;
      padding: 0 18px;

      img {
        width: 90px;
        height: 90px;
      }

      h4 {
        font-weight: bold;
        font-size: 23px;
        margin: 12px 0;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          height: 4px;
          width: 40px;
          background-color: var(--main-color);
          left: 50%;
          bottom: -20px;
          transform: translateX(-50%);
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -o-transform: translateX(-50%);
        }
      }

      p {
        margin-top: 30px;
        line-height: 1.8;
        color: $font-color;
      }
    }
  }
}
/* ! End Our Features */
/* ! Start Testimonials */
.testimonials {
  padding: 70px 0;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: var(--main-color);
    z-index: -1;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #333;
    z-index: -1;
  }

  h2 {
    @extend .h2;
    text-align: left;
    color: white;
  }

  .boxes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;

    .box {
      padding: 20px;
      background-color: white;
      box-shadow: 0 2px 15px rgb(0, 0, 0, 0.07);
      -webkit-box-shadow: 0 12px 20px rgb(0, 0, 0, 0.07);
      position: relative;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
      transition: transform var(--trasnition-duration),
        box-shadow var(--trasnition-duration);
      -webkit-transition: transform var(--trasnition-duration),
        box-shadow var(--trasnition-duration);
      -moz-transition: transform var(--trasnition-duration),
        box-shadow var(--trasnition-duration);
      -ms-transition: transform var(--trasnition-duration),
        box-shadow var(--trasnition-duration);
      -o-transition: transform var(--trasnition-duration),
        box-shadow var(--trasnition-duration);

      &:hover {
        transform: translateY(-10px);
        box-shadow: 0 2px 15px rgb(0, 0, 0, 0.2);
      }

      img {
        position: absolute;
        top: -50px;
        right: -10px;
        width: 100px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border: 10px solid var(--background-dark);
      }

      h3 {
        color: var(--main-color);
        padding-bottom: 5px;
      }

      span {
        color: black;
        font-weight: 600;
        font-size: 14px;
      }

      .rate {
        padding-top: 10px;

        .filled {
          color: #ffc107;
        }
      }

      p {
        padding-top: 10px;
        color: #777;
        line-height: 1.5;
      }
    }
  }
}
/* ! End Testimonials */
/* ! Start Contact Us */
.contact {
  position: relative;
  background-image: url("../images/contact.png");
  background-size: cover;
  padding: 120px 0;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
  }
  .container {
    position: relative;
    z-index: 3;

    h2 {
      @extend .h2;
    }

    form {
      overflow: hidden;

      .left {
        float: left;
        width: 52%;

        @media (max-width: 767px) {
          display: block;
          width: 100%;
        }
      }

      .right {
        float: right;
        width: 48%;

        @media (max-width: 767px) {
          display: block;
          width: 100%;
        }
      }

      input:not([type="submit"]),
      textarea {
        display: block;
        width: 90%;
        padding: 16px;
        margin-bottom: 25px;
        border: 1px solid var(--main-color);
        border-color: transparent transparent var(--main-color)
          var(--main-color);
        outline: none;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;

        @media (max-width: 767px) {
          width: 100%;
        }

        &::placeholder {
          transition: calc(var(--trasnition-duration) * 2);
          -webkit-transition: calc(var(--trasnition-duration) * 2);
          -moz-transition: calc(var(--trasnition-duration) * 2);
          -ms-transition: calc(var(--trasnition-duration) * 2);
          -o-transition: calc(var(--trasnition-duration) * 2);
        }

        &:focus {
          &::placeholder {
            opacity: 0;
          }

          border-color: var(--main-color);
          box-shadow: 0 0 0 var(--main-color);
        }
      }

      input:not([type="submit"]) {
        box-shadow: 1px 1px 1px var(--main-color);
      }

      textarea {
        width: 80%;
        height: 215px;
        resize: none;
        border: 1px solid;
        border-color: transparent transparent var(--main-color)
          var(--main-color);
        box-shadow: 0px 1px 0px var(--main-color);

        @media (max-width: 767px) {
          width: 100%;
        }
      }

      [type="submit"] {
        width: fit-content;
        padding: 10px 80px;
        display: block;
        margin-top: 30px;
        border: none;
        background-color: var(--main-color) !important;
        color: white;
        font-weight: bold;
        border-radius: 12px;
        position: relative;
        overflow: hidden;
        z-index: 1;

        @media (max-width: 767px) {
          margin: auto;
        }

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
/* ! End Contact Us */
/* ! Start Footer */
.footer {
  background-color: #333;
  color: white;
  padding: 25px 10px;
  text-align: center;
  font-size: 18px;

  span {
    font-weight: bold;
    color: var(--main-color);

    &::after {
      content: "❤️";
      display: none;
    }

    &:hover,
    &:hover::after {
      color: red;
      display: unset;
    }
  }
}
/* ! End Footer */
