@charset "UTF-8";
/** @format */
/** @format */
/* ! Start Global Rules */
:root {
  --main-color: #ff9800;
  --trasnition-duration: 0.3s;
  --background-dark: #ececec;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
}
html body {
  font-family: "Open Sans", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
html body a {
  color: black;
  text-decoration: none;
}
html body ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
html body #top {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  position: fixed;
  bottom: 20px;
  right: -1000px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: var(--main-color);
  opacity: 0.7;
  z-index: 99;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  transition: var(--trasnition-duration);
  -webkit-transition: var(--trasnition-duration);
  -moz-transition: var(--trasnition-duration);
  -ms-transition: var(--trasnition-duration);
  -o-transition: var(--trasnition-duration);
}
html body #top .top {
  font-size: 20px;
  color: white;
  transition: var(--trasnition-duration);
  -webkit-transition: var(--trasnition-duration);
  -moz-transition: var(--trasnition-duration);
  -ms-transition: var(--trasnition-duration);
  -o-transition: var(--trasnition-duration);
}
html body #top:hover .top {
  transform: translateY(-4px);
  -webkit-transform: translateY(-4px);
  -moz-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  -o-transform: translateY(-4px);
}
html body .scroller {
  position: fixed;
  left: 0;
  top: 0;
  height: 3px;
  width: 0;
  background-color: var(--main-color);
  z-index: 9999;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  /** Small */
  /** Medium */
  /** Large */
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* ! Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #ff9800, #009688, #e91e63, #03a9f4);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #ffb74d, #26a69a, #f06292, #4fc3f7);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:active {
  background: linear-gradient(45deg, #fb8c00, #00796b, #d81b60, #0288d1);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* ! End Global Rules */
/** @format */
/* ! Start Option */
.settings-box {
  position: fixed;
  height: 100vh;
  width: 200px;
  max-width: 250px;
  z-index: 1000;
  background-color: white;
  top: 0;
  left: -200px;
  transition: var(--trasnition-duration);
  -webkit-transition: var(--trasnition-duration);
  -moz-transition: var(--trasnition-duration);
  -ms-transition: var(--trasnition-duration);
  -o-transition: var(--trasnition-duration);
  border: 1px solid #eee;
}
.settings-box.open {
  left: 0;
}
.settings-box .toggle-settings {
  position: absolute;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  background-color: white;
  z-index: 3;
  right: -30px;
  top: 100px;
  cursor: pointer;
}
.settings-box .toggle-settings svg {
  padding: 8px;
}
.settings-box .settings-container .option-box {
  padding: 10px;
  text-align: center;
  background-color: #eee;
  margin: 10px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.settings-box .settings-container .option-box h4 {
  font-size: 14px;
}
.settings-box .settings-container .option-box .colors-list li {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 3px solid #eee;
  cursor: pointer;
  margin-top: 10px;
}
.settings-box .settings-container .option-box .colors-list li.active {
  border-color: white;
}
.settings-box .settings-container .option-box .random-backgrounds span,
.settings-box .settings-container .option-box .bullets-option span {
  width: 50px;
  background-color: var(--main-color);
  color: #fff;
  margin-top: 10px;
  display: inline-block;
  font-size: 12px;
  padding: 4px 10px;
  font-weight: bold;
  border-radius: 4px;
  opacity: 0.5;
  cursor: pointer;
  text-align: center;
}
.settings-box .settings-container .option-box .random-backgrounds span.active,
.settings-box .settings-container .option-box .bullets-option span.active {
  opacity: 1;
}
.settings-box .settings-container .reset-options {
  font-weight: bold;
  font-size: 18px;
  background-color: #f44336;
  width: 178px;
  color: white;
  border: none;
  padding: 10px;
  outline: none;
  margin: 10px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  cursor: pointer;
}

/* ! End Option */
/** @format */
/** @format */
/* ! Start Landing */
.landing {
  position: relative;
  min-height: 90vh;
  background-image: url("../images/02.jpg");
  background-size: cover;
}
.landing .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.landing .header {
  position: relative;
  z-index: 2;
  color: #fff;
  display: flex;
  padding: 10px;
}
.landing .header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.landing .header .container .logo {
  width: 300px;
  padding: 15px;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
}
.landing .header .container .links-container {
  text-align: right;
}
.landing .header .container .links-container .links {
  display: flex;
  padding: 0 20px 0 0;
}
.landing .header .container .links-container .links li {
  display: inline-block;
  margin-left: 20px;
}
.landing .header .container .links-container .links li a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}
.landing .header .container .links-container .links li a:hover, .landing .header .container .links-container .links li a.active {
  color: var(--main-color);
}
.landing .letters {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #fff;
  text-align: center;
  width: 50%;
}
.landing .letters h1 {
  font-size: 34px;
  margin: 0 0 20px;
}
@media (max-width: 575px) {
  .landing .letters h1 {
    font-size: 26px;
  }
}
.landing .letters h1 span {
  color: var(--main-color);
}
.landing .letters p {
  line-height: 1.6;
  font-size: 20px;
  margin: 0;
}
.landing .mouse-show {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  color: white;
  text-align: center;
  z-index: 3;
}
@media (max-width: 767px) {
  .landing .mouse-show {
    display: none;
  }
}
.landing .mouse-show span {
  font-size: 15px;
  font-weight: 500;
}
.landing .mouse-show img {
  width: 40px;
  height: 40px;
  margin-bottom: -15px;
}

/* ! End Landing */
/* ! Start About Us */
.about-us {
  background-color: white;
  padding: 50px 0;
}
.about-us .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.about-us .container .info-box {
  flex: 1;
}
.about-us .container .info-box h2 {
  color: var(--main-color);
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: bold;
}
.about-us .container .info-box p {
  margin: 0;
  line-height: 1.8;
  color: #767676;
  width: 550px;
  max-width: 100%;
}
.about-us .container .images-box {
  flex: 1;
  text-align: center;
}
.about-us .container .images-box img {
  width: 250px;
}
@media (max-width: 767px) {
  .about-us .container .images-box img {
    display: none;
  }
}

/* ! End About Us */
/* ! Start Our Skills */
.skills {
  background-color: #eee;
  display: flex;
  padding: 50px 0;
}
.skills h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 50px;
  text-align: center;
}
.skills .skill-box {
  background-color: #fff;
  display: flex;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  transition: var(--trasnition-duration);
  -webkit-transition: var(--trasnition-duration);
  -moz-transition: var(--trasnition-duration);
  -ms-transition: var(--trasnition-duration);
  -o-transition: var(--trasnition-duration);
}
@media (max-width: 767px) {
  .skills .skill-box {
    display: block;
  }
}
.skills .skill-box:hover {
  box-shadow: 0 5px 10px rgba(172, 172, 172, 0.4);
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}
.skills .skill-box .skill-name {
  font-weight: bold;
  width: 140px;
  text-align: center;
  line-height: 30px;
}
@media (max-width: 767px) {
  .skills .skill-box .skill-name {
    width: 100%;
    margin-bottom: 15px;
  }
}
.skills .skill-box .skill-name.one {
  color: #e34f26;
}
.skills .skill-box .skill-name.two {
  color: #002561;
}
.skills .skill-box .skill-name.three {
  color: #f7df1e;
}
.skills .skill-box .skill-name.four {
  color: #2b80ff;
}
.skills .skill-box .skill-name.five {
  color: #eb459e;
}
.skills .skill-box .skill-name.six {
  color: #3178c6;
}
.skills .skill-box .skill-progress {
  height: 30px;
  width: 100%;
  background-color: #f6f6f6;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.skills .skill-box .skill-progress span {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: var(--main-color);
  transition: all calc(var(--trasnition-duration) * 3);
  -webkit-transition: all calc(var(--trasnition-duration) * 3);
  -moz-transition: all calc(var(--trasnition-duration) * 3);
  -ms-transition: all calc(var(--trasnition-duration) * 3);
  -o-transition: all calc(var(--trasnition-duration) * 3);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

/* ! End Our Skills */
/* ! Start Gallery */
.gallery {
  padding: 50px 0;
}
.gallery h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 50px;
  text-align: center;
}
.gallery .images-box {
  display: flex;
  flex-wrap: wrap;
}
.gallery .images-box img {
  width: calc(20% - 10px);
  padding: 3px;
  background-color: #f6f6f6;
  margin: 5px;
  border: 1px solid #ccc;
  cursor: crosshair;
}

/* ! End Gallery */
/* ! Start Testimonials */
.testimonials {
  padding: 70px 0;
  position: relative;
}
.testimonials:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: var(--main-color);
  z-index: -1;
}
.testimonials:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #333;
  z-index: -1;
}
.testimonials h2 {
  font-weight: bold;
  font-size: 30px;
  color: white;
  margin: 0 0 50px;
  text-align: left;
}
.testimonials .boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.testimonials .boxes .box {
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 0 12px 20px rgba(0, 0, 0, 0.07);
  position: relative;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  transition: transform var(--trasnition-duration), box-shadow var(--trasnition-duration);
  -webkit-transition: transform var(--trasnition-duration), box-shadow var(--trasnition-duration);
  -moz-transition: transform var(--trasnition-duration), box-shadow var(--trasnition-duration);
  -ms-transition: transform var(--trasnition-duration), box-shadow var(--trasnition-duration);
  -o-transition: transform var(--trasnition-duration), box-shadow var(--trasnition-duration);
}
.testimonials .boxes .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}
.testimonials .boxes .box img {
  position: absolute;
  top: -50px;
  right: -10px;
  width: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 10px solid var(--background-dark);
}
.testimonials .boxes .box h3 {
  color: var(--main-color);
  padding-bottom: 5px;
}
.testimonials .boxes .box span {
  color: black;
  font-weight: 600;
  font-size: 14px;
}
.testimonials .boxes .box .rate {
  padding-top: 10px;
}
.testimonials .boxes .box .rate .filled {
  color: #ffc107;
}
.testimonials .boxes .box p {
  padding-top: 10px;
  color: #777;
  line-height: 1.5;
}

/* ! End Testimonials */
/* ! Start Contact Us */
.contact {
  position: relative;
  background-image: url("../images/contact.png");
  background-size: cover;
  padding: 60px 0;
  min-height: 80vh;
}
.contact .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}
.contact .container {
  position: relative;
  z-index: 3;
}
.contact .container h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 50px;
  text-align: center;
}
.contact .container form {
  overflow: hidden;
}
.contact .container form .left {
  float: left;
  width: 52%;
}
.contact .container form .right {
  float: right;
  width: 48%;
}
.contact .container form input:not([type=submit]),
.contact .container form textarea {
  display: block;
  width: 90%;
  padding: 16px;
  margin-bottom: 25px;
  border: 1px solid var(--main-color);
  border-color: transparent transparent var(--main-color) var(--main-color);
  outline: none;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.contact .container form input:not([type=submit])::-moz-placeholder, .contact .container form textarea::-moz-placeholder {
  transition: calc(var(--trasnition-duration) * 2);
  -webkit-transition: calc(var(--trasnition-duration) * 2);
  -moz-transition: calc(var(--trasnition-duration) * 2);
  -ms-transition: calc(var(--trasnition-duration) * 2);
  -o-transition: calc(var(--trasnition-duration) * 2);
}
.contact .container form input:not([type=submit])::placeholder,
.contact .container form textarea::placeholder {
  transition: calc(var(--trasnition-duration) * 2);
  -webkit-transition: calc(var(--trasnition-duration) * 2);
  -moz-transition: calc(var(--trasnition-duration) * 2);
  -ms-transition: calc(var(--trasnition-duration) * 2);
  -o-transition: calc(var(--trasnition-duration) * 2);
}
.contact .container form input:not([type=submit]):focus,
.contact .container form textarea:focus {
  border-color: var(--main-color);
  box-shadow: 0 0 0 var(--main-color);
}
.contact .container form input:not([type=submit]):focus::-moz-placeholder, .contact .container form textarea:focus::-moz-placeholder {
  opacity: 0;
}
.contact .container form input:not([type=submit]):focus::placeholder,
.contact .container form textarea:focus::placeholder {
  opacity: 0;
}
.contact .container form input:not([type=submit]) {
  box-shadow: 1px 1px 1px var(--main-color);
}
.contact .container form textarea {
  width: 80%;
  height: 215px;
  resize: none;
  border: 1px solid;
  border-color: transparent transparent var(--main-color) var(--main-color);
  box-shadow: 0px 1px 0px var(--main-color);
}
.contact .container form [type=submit] {
  width: 50%;
  padding: 10px;
  display: block;
  margin-left: 15%;
  border: none;
  background-color: var(--main-color) !important;
  color: white;
  font-weight: bold;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

/* ! End Contact Us */
/* ! Start Footer */
.footer {
  background-color: #333;
  color: white;
  padding: 25px 10px;
  text-align: center;
  font-size: 18px;
}
.footer span {
  font-weight: bold;
  color: var(--main-color);
}
.footer span::after {
  content: "❤️";
  display: none;
}
.footer span:hover, .footer span:hover::after {
  color: red;
  display: unset;
}

/* ! End Footer *//*# sourceMappingURL=style.css.map */