/** @format */

@mixin arrow($direction) {
  content: "";
  position: absolute;
  border: 12px solid transparent;
  @if $direction == "top" or $direction == "bottom" {
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    #{$direction}: -24px;
    @if $direction == "top" {
      border-bottom-color: white;
    } @else {
      border-top-color: white;
    }
  } @else {
    top: 13%;
    transform: translateY(-13%);
    -webkit-transform: translateY(-13%);
    -moz-transform: translateY(-13%);
    -ms-transform: translateY(-13%);
    -o-transform: translateY(-13%);
    #{$direction}: -24px;
    @if $direction == "right" {
      border-left-color: white;
    } @else {
      border-right-color: white;
    }
  }
}

@mixin bullet($direction, $color) {
  content: "";
  position: absolute;
  border: 10px solid transparent;

  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);

  #{$direction}: -20px;
  @if $direction == "right" {
    border-left-color: $color;
  } @else {
    border-right-color: $color;
  }
}
