/** @format */

// ! Import Mixins
@use "../helpers/mixin" as *;

/* ! Start Option */
.settings-box {
  position: fixed;
  height: 100vh;
  width: 200px;
  max-width: 250px;
  z-index: 1000;
  background-color: white;
  top: 0;
  left: -200px;
  transition: var(--trasnition-duration);
  -webkit-transition: var(--trasnition-duration);
  -moz-transition: var(--trasnition-duration);
  -ms-transition: var(--trasnition-duration);
  -o-transition: var(--trasnition-duration);
  border: 1px solid #eee;

  &.open {
    left: 0;
  }

  .toggle-settings {
    position: absolute;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    background-color: white;
    z-index: 3;
    right: -30px;
    top: 180px;
    cursor: pointer;

    svg {
      padding: 8px;
    }
  }
  .settings-container {
    .option-box {
      padding: 10px;
      text-align: center;
      background-color: #eee;
      margin: 10px;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;

      h4 {
        font-size: 14px;
      }

      .colors-list {
        li {
          display: inline-block;
          width: 26px;
          height: 26px;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          border: 3px solid #eee;
          cursor: pointer;
          margin-top: 10px;
          opacity: 0.6;

          &.active {
            border-color: white;
            opacity: 1;
          }
        }
      }

      .random-backgrounds,
      .bullets-option {
        span {
          width: 50px;
          background-color: var(--main-color);
          color: #fff;
          margin-top: 10px;
          display: inline-block;
          font-size: 12px;
          padding: 4px 10px;
          font-weight: bold;
          border-radius: 4px;
          opacity: 0.5;
          cursor: pointer;
          text-align: center;

          &.active {
            opacity: 1;
          }
        }
      }
    }

    .reset-options {
      font-weight: bold;
      font-size: 18px;
      background-color: #f44336;
      width: 178px;
      color: white;
      border: none;
      padding: 10px;
      outline: none;
      margin: 10px;
      border-radius: 6px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
      cursor: pointer;
    }
  }
}
/* ! End Option */
/* ! Start Bullets */
.bullets-nav {
  position: fixed;
  right: 0;
  width: 40px;
  z-index: 1000;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);

  .bullet {
    width: 20px;
    height: 20px;
    border: 3px solid var(--main-color);
    margin: 20px auto;
    border-radius: 50%;
    cursor: pointer;
    position: relative;

    .tooltip {
      background-color: var(--main-color);
      width: 120px;
      color: #fff;
      padding: 8px 10px;
      position: absolute;
      right: 32px;
      top: -10px;
      text-align: center;
      cursor: default;
      pointer-events: none;
      display: none;

      &:before {
        @include bullet("right", var(--main-color));
      }
    }

    &:hover .tooltip {
      display: block;
    }
  }
}
/* ! End Bullets */
/* ! Start PopUp */
.popup-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2000;
}

.popUp {
  position: fixed;
  padding: 40px 20px;
  width: 500px;
  border: 1px solid #eee;
  z-index: 2001;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;

  @media (max-width: 767px) {
    width: 370px;
  }

  img {
    max-width: 100%;
  }

  button {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    top: -13px;
    right: -13px;
    width: 26px;
    padding: 6px 4px;
    color: white;
    background-color: var(--main-color);
    border-color: white;
    outline: none;
  }

  h3 {
    text-align: center;
    margin: -8px 0 20px;
    color: var(--main-color);
  }
}
/* ! End PopUp */
